.nashe{
    background-color: black;
}

.titulo{
    font-family: 'Playfair Display', serif;
    margin: 0px 0px 0px 0px;
}
 
.carrousel{
    margin-left: 20px;
	margin-right: 20px;
    margin-top: 100px;
    
}
img{
    width: 100%;
    height: 700px;
}

.testo{
    color: white;
    border-top: 25px;
    padding: 15px 5px 5px 5px;
    border-radius: 5px;
    text-align: center;
    font-size: 45px;
}
/*---------------------------------------------------------Inicio-------------------------------------------------------------*/
video{
    margin: 74px 10px 10px 10px;
    padding-top: 25px;
    display: block;
    height: 450px;
    width: 95%;
    text-align: center;
}
.tm{
    color: white;
    font-family: 'Nanum Myeongjo', serif;
    font-size: 32px;
    margin-left: 10px;
    margin-right: 10px;
}
.nashes{
    margin-left: 32px;
    margin-right: 32px;
    
}
.gracias{
    
    padding-top: 38px;
    color: white;
    font-family: 'La Belle Aurore', cursive;
    text-align: center;
    font-size: 45px;
}
.gracias2{
    padding-top: 5px;
    color: white;
    font-family: 'La Belle Aurore', cursive;
    text-align: center;
    font-size: 45px;
}
/*-------------------------------------------------------Individuales---------------------------------------------------------*/
/*Julia*/


/*Julia*/


/*Rolucero*/
.pagrl{
    background-color: #2D3C41;
}
.rl{
    
    text-align: center;
    font-size: 45px;
    color: #94BFB6;
}